[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
line-bot-sdk = "*"
pymysql = "*"
requests = "*"
bs4 = "*"
pymongo = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.10"
